<div class="bg-blue-300">
    <nav class="m-auto w-4/5 py-5 md:w-full">
        <ul class="flex place-content-around text-white items-center">
            <li class="text-xl"><a href="productos">GLOVESTORE</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Personalizados</a></li>
            <li><a href="#">Contacto</a></li>
            <li>
                <a href="#">
                    <img src="/heart.svg" alt="Favoritos" width="25px">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/shop.svg" alt="Carrito de compras" width="25px">
                </a>
            </li>
        </ul>
    </nav>
</div>