<div class="bg-blue-300 sm:bg-green-400 md:bg-red-400">
    <nav class="m-auto w-full py-3 text-white text-center sm:w-9/12 sm:flex ">
        <div class="pb-3 sm:pb-0 items-center my-1">
            <a class="text-xl" href="productos">GLOVESTORE</a>
        </div>
        <div class="w-full flex place-content-evenly items-center my-1">
            <a href="#">Productos</a>
            <a href="#">Personalizados</a>
            <a href="#">Contacto</a>
            <a href="#">
                <img src="/heart.svg" alt="Favoritos" width="25px">
            </a>
            <a href="#">
                <img src="/shop.svg" alt="Carrito de compras" width="25px">
            </a>
        </div>
    </nav>
</div>