---
import Layout from '../layouts/Layout.astro'

//Component
import Main from '../components/landing/Main.astro'
import About from '../components/landing/About.astro'
---

<Layout>
	<h1>hola mundo</h1>
	
</Layout>